body{
background: url(/imagenes/EditarCrear.jpg);

}

a{
  color: black;
}
h2{
  color: black;
}
label{
    color: black;
}
#icono{
   width: 50px ;
   height: 50px;
 
}
#tituloIcono{
      margin-right: 100px;
}

#contenido{
    min-height:700px;
  }
